# in iot webserver project you need to POST:/api/v1/token
# or create_iot.py
TOKEN=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJpb3QiLCJhdWQiOiJpb3QiLCJ0eXBlIjoiYWNjZXNzIiwic3ViIjoiNjU1ZTViZTNiMmM1ODMyNTAxOTRhOGE5IiwiaWF0IjoxNzAwNjgyNzQxLjk1NTcxMTYsIm5iZiI6MTcwMDY4MjczMS45NTU3MTE2fQ.SWBj-EIxih6WHozXLL0P2sGb-tJrbonLi9UZeSKBoclKzsyE5FhYy-nvuP7w-7uTx0lJZpnAGi-xxYS9IBqYFVMjXIp7y-tGWCm9KZXyKN_lFzx_3d6ppndHxdSRaN5MXoOF16aW7UobVw2-omvRIbYNloUCnHi2xkeDkq_CQJ0BptueKzfJzZpevzzHPNdUsoZ284MGDdO-qYAVPnEiJcCDkNzCNBY3VTeanptzQN5-bT85YId4aUaAWaA6AMOaIoqRz1fqluBcOSH_YFxVQq6rwJmUo7KRGmstBqWKf4X22asm26xJ2EhDacogQ6UpjcJjMg9U8rrQ8oTYv8Tv9dLT4c5lb8D39F44OwbQ8qL_ej3TB18q8oktPHEEyb-fKYy6-_gGHHlITZBn6J0dlnFutw29So_zXablBmOPbk1EWdPTw7hMm9hjd9nyjJmofCyAl_WzzMRwiuOICvm4fVcg0bE63lrHf6c1I02yMjsYAxtrwYcWZbMoCJ0mnrJsoz8YrZeUN74CD8HJ7jIBXrXT9JhvFjc5XHZd4-kelwZh-LwWfLjPbBocTUZU5Ll6eNMpplo0vtCo9X1v5MZy5g0MXzdB9E7-8u0ybjL4cH_q6hiDo1OuWMT7mpc3JwOE54Oal4nDVSHQKpNKKVmhclC0PxALC2kKBpEiHEPHijM